# {{ ansible_managed }}
#!/bin/bash

chkifinstalled=`grep "{{ db_home }}" "{{ oracle_inventory_loc }}/ContentsXML/inventory.xml" |wc -l`
if [[ $chkifinstalled == 1 ]]; then
 echo "Error: ORACLE_HOME: {{ db_home }} already present. Exiting"
 exit 0
else
{{ oracle_stage }}/database/runInstaller -responseFile {{ oracle_stage }}/{{ db_response_file }} -ignorePrereq -ignoreSysPrereqs -silent -waitforcompletion
fi

