[Unit]
Description=Start Oracle Database
After=multi-user.target
After=network.target

[Service]
Type=simple
Environment=PIDFILE=/run/dbora.pid
ExecStart=/usr/bin/su - oracle -c "{{oracle_home}}/bin/dbstart {{oracle_home}} && {{dbvisit_home}}/db-startup-mount.sh"
ExecStop=/usr/bin/su - oracle -c "{{oracle_home}}/bin/dbshut {{oracle_home}}"
TimeoutSec=900
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target