{{ oracle_base }}/diag/rdbms/*/*/trace/*.log 
{{ oracle_base }}/diag/tnslsnr/*/*/trace/*.log 
{
    su oracle oinstall
    daily
    rotate 6
    missingok
    compress
    notifempty
    size 10M
    create 0640 oracle oinstall
}


{{ oracle_base }}/diag/tnslsnr/*/*/alert/*.xml
{{ oracle_base }}/diag/rdbms/*/*/alert/*.xml 
{
    su oracle oinstall
    daily
    missingok
    notifempty
    size 10M
    create 0640 oracle oinstall
}