settings {
    logfile = "/var/log/lsyncd.log",
    statusFile = "/var/log/lsyncd.status",
    statusInterval = 10,
    nodaemon   = false
}

sync {
    default.rsyncssh,
    source = "/root/",
    host = "merlin@192.168.31.15",
    targetdir = "/home/merlin/backup/{{ ansible_hostname }}/",
}

sync {
    default.rsyncssh,
    source = "/etc/",
    host = "merlin@192.168.31.15",
    targetdir = "/home/merlin/backup/{{ ansible_hostname }}/",
}

sync {
    default.rsyncssh,
    source = "/home/",
    host = "merlin@192.168.31.15",
    targetdir = "/home/merlin/backup/{{ ansible_hostname }}/",
}


